
<div class="c_backp" pic>
    	<!-- <img ng-src="{{data.back.src}}" class="cback"/> -->
        <!-- {{data.back}} -->
        <div class="backinner">
            <img src="file/c_back.png" class="cback" bg/>
        </div>
        <!-- <div class="title">#爱出花样#第3招</div> -->
        <div class="xly">
            <img src="file/hy.png" class="hy"/>
            <!-- <div class="title">#爱出花样#第3招</div> -->
<!--             <div class="rtext" id="txt">
                什么，连空中沙发这枚旅行神器都不知道？听我的，赶紧预定吧，因为他可以讲同排相邻的三个座椅转换成一张浪漫的空中双人床，这一首创的“空中沙发座椅”，让你们相互依偎在三万英尺的高空，做一场不被叫醒的美梦。
            </div> -->
            <img src="file/down.png" class="down" id="dup"/>
        </div>
        <div class="title">#爱出花样#第{{pageId}}招</div>
        <!-- <img src="file/wa.png" class="wa"/> -->
        <div class="rtext" id="txt" style="height:2rem" ng-bind="data.text">
            <!-- {{data.text}} -->
        </div>
        <div class="autotext" id="txt2" style="display: none;" ng-bind="data.text">
            <!-- {{data.text}} -->
        </div>
        <img src="file/logo.png" class="logo2"/>
    	<!-- <img src="file/hy.png" class="hy"/> -->
    	<!-- <div class="by"><img ng-src="{{data.person.src}}" class="hl"/></div> -->
<!--     	<img ng-src="{{data.title.src}}" class="num"/>
    	<img ng-src="{{data.title.src}}" class="wa"/>
    	<img src="file/down.png" class="down"/> -->
    	<div class="c_btn">
    		<a ng-href="#/wht" class="change"><img src="file/change.png" class="bt"/></a>
	    	<a href="javascript:" class="share"><img src="file/share.png" class="bt"/></a>
	    </div>
        <div class="hd_link">
            <a href="javascript:" class="hda">
                活动细则<img src="file/11-01.png" class="hd_jt"/>
            </a>
        </div>
    </div>