<div class="wrap">
    	<div class="backp"><img src="file/main.jpg" height="100%" class="file/backp_img"></div>
    	<div class="main">
    		<div class="wanh" id="wan" wht>
				<img src="file/circle.png" class="circle">
    		</div>
			<!-- <img src="circle.png" class="circle"> -->
			<img src="file/font-03.png" class="font">
			<img src="file/logo-04.png" class="logo">
			<div class="pfonts">
	    		<p class="pfont">左右倾斜屏幕</p>
	    		<p class="pfont">开启“新”式万花筒</p>
	    		<p class="pfont">一起为爱接招，躺着飞到新西兰！</p>
	    	</div>
	    	<div class="hd_link">
	    		<a href="javascript:" class="hda">活动细则 <img src="file/11-01.png" class="hd_jt"/></a>
	    	</div>
    	</div>
    </div>